<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("e-Parking System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Customer"))
                        {
                            <li><a href="/Users/Details/@Convert.ToInt32(Session["ID"])">Profile</a></li>
                            @*<li>@Html.ActionLink("Profile", "Details", "Users", new { id=Convert.ToInt32(Session["ID"]))</li>*@
                            <li>@Html.ActionLink("Car", "Index", "Cars")</li>
                            @*<li>@Html.ActionLink("Parking", "Index", "Parkings")</li>*@
                            <li>@Html.ActionLink("Record", "Index", "Records")</li>
                        }
                        else if (User.IsInRole("Staff"))
                        {
                            <li>@Html.ActionLink("Check Car", "CheckCar", "Records")</li>
                            <li>@Html.ActionLink("Check Record", "AllRecords", "Records")</li>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Manage Parking", "Index", "Parkings")</li>
                            <li>@Html.ActionLink("Manage Staff", "AllStaff", "Users")</li>
                            <li>@Html.ActionLink("Manage Record", "AllRecords", "Records")</li>
                        }
                    }
                </ul>
                <ul>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Karipap Techno Copyright</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
